* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 300vh;
}

.container {
    position: relative;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    background-color: blue;
}

.box {
    position: absolute;
    background-color: greenyellow;
    width: 200px;
    height: 200px;
}